/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */

/*
  Content sections conventions
*/
section {
  @apply pb-8;
  @apply px-4;
}

p+p {
  @apply mt-4;
}

/*
  Global headings conventions
*/
h1 {
  @apply text-gray-900;
  @apply font-semibold;
}

h2,
h3,
h4 {
  @apply text-gray-900;
  @apply font-semibold;
  @apply mt-2
}

@screen md {
  h1.heading {
    @apply text-3xl;
  }
}

/*
  Base styles for links
*/
a {
  @apply border-b-2;
  @apply border-teal-400;
}

a:hover,
a:focus {
  @apply border-b-2;
  @apply border-teal-200;
}

a.naked-link:link,
a.naked-link:visited {
  @apply border-0;
}

.content ul,
.content ol {
  @apply mt-2;
}

.content li {
  @apply list-disc;
  @apply ml-6;
}

.content ol li {
  @apply list-decimal;

}

/*
  Navigation links
*/
.nav-tab {
  @apply inline-block;
  @apply text-white;
  @apply font-semibold;
  @apply px-4;
  @apply py-2;
  @apply border-b-0;
  @apply rounded;
}

.nav-tab:hover {
  @apply bg-white;
  @apply text-teal-500;
  @apply border-b-0;
}


code:not([class]) {
  @apply bg-gray-200;
  @apply text-sm;
  @apply p-1;
  @apply rounded;
}

.filter-bw-800 {
  filter: grayscale(0.8);
}

.mb--2 {
  margin-bottom: -0.5rem;
}

.mb--4 {
  margin-bottom: -1rem;
}

/* purgecss start ignore */
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;