
<header class="bg-teal-500 flex justify-between px-4 py-2 mb-10">
  <h1 class=" text-white font-medium text-2xl"><a href="{{ '/' | url }}" class="">Danilo Avilez</a></h1>
  
  {% if page.url != "/" %}
    <nav>
      {%
        set linkList = [
          { "url": "/about" , "text": "About"},
          { "url": "/blog" , "text": "Blog"}
        ]
      %}
      {% include "navigation-links.njk" %}
    </nav>
  {% endif %}
</header>



