<header class="pointer-events-none relative z-50 flex flex-col" style="height:var(--header-height);margin-bottom:var(--header-mb)">
  <div class="order-last mt-[calc(theme(spacing.16)-theme(spacing.3))]"></div>
  <div class="sm:px-8 top-0 order-last -mb-3 pt-3" style="position: var(--header-position);">
    <div class="mx-auto max-w-7xl lg:px-8">
      <div class="relative px-4 sm:px-8 lg:px-12">
        <div class="mx-auto max-w-2xl lg:max-w-5xl">
          <div class="top-[var(--avatar-top,theme(spacing.3))] w-full" style="position: var(--header-inner-position);">
            <div class="relative">
              <div class="absolute left-0 top-3 origin-left transition-opacity h-10 w-10 rounded-full bg-white/90 p-0.5 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:ring-white/10"
               style="opacity: var(--avatar-border-opacity, 0); transform: var(--avatar-border-transform);">
              </div>
              <a class="block h-16 w-16 origin-left pointer-events-auto">
                <img src="{{ '/images/me.jpg' | url }}" sizes="4rem" alt="Danilo Avilez" 
                class="rounded-full bg-zinc-100 object-cover dark:bg-zinc-800 h-16 w-16" 
                style="color: transparent;" width="512" height="512" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="top-0 z-10 h-16 pt-6" style="position: var(--header-position)">
    <div class="sm:px-8 top-[var(--header-top,theme(spacing.6))] w-full" style="position: var(--header-inner-position)">
      <div class="mx-auto max-w-7xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">
          <div class="mx-auto max-w-2xl lg:max-w-5xl">
            <div class="relative flex gap-4">
              <div class="flex flex-1"></div>
              <div class="flex flex-1 justify-end md:justify-center">
                <nav class="pointer-events-auto hidden md:block">
                  {%
                    set linkList = [
                      { "url": "/about" , "text": "About"},
                      { "url": "/projects" , "text": "Projects"},
                      { "url": "/blog" , "text": "Blog"}
                    ]
                  %}
                  {% include "navigation-links.njk" %}
                </nav>
              </div>
              <div class="flex justify-end md:flex-1">
                <div class="pointer-events-auto">
                  <button type="button" id="lightMode" onClick="toggleDarkMode()" class="group rounded-full bg-white/90 px-3 py-2 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur transition dark:bg-zinc-800/90 dark:ring-white/10 dark:hover:ring-white/20">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hover:fill-teal-100 dark:hidden">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hidden dark:block dark:stroke-teal-500">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>



