<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="daniloavilez" />
<meta name="twitter:creator" content="@danilo_avilez" />
<meta property="og:url" content="https://avilez.com.br/" />
<meta property="og:title" content="Danilo Avilez" />
