<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/dark.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/images/favicon.ico' | url }}"/>
     {% if env.isProd %}
      <script async 
        src="https://www.googletagmanager.com/gtag/js?id={{ env.tracking.gtag }}">
      </script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', '{{ env.tracking.gtag }}');
      </script>
    {% endif %}
    <title>{{ title }}</title>
    {% include "social.njk" %}
  </head>
  <body class="container mx-auto mb-12 lg:max-w-4xl text-gray-700">
    <div class="reader-bar-start">
      {% include "header.njk" %}
      <div class="content leading-relaxed">
        {{ content | safe }}
      </div>
      {% set js %}
        {% include "js/core.js" %}
        {% include "js/hello.js" %}
      {% endset %}
      <script>{{ js | jsmin | safe }}</script>
    </div>
  </body>
</html>



