---
title: Danilo Avilez | About
layout: default
---

<section>
  <h1 class="heading">Greetings! </h1>
  <p>
    Hi! My name is Danilo Avilez and welcome to my <a href="/blog">blog</a>!
  </p>
  <p>
    Actually, I'm a developer with more than 10 years of experience. I'd worked for financial, government, insurance industries and nowadays I'm working in security industry.
  </p>
  <div class="flex flex-col items-center sm:items-start sm:flex-row relative mt-2">
    <div class="mr-0 sm:mr-2">
      <img src="{{ '/images/miah_venus.jpg' | url }}" alt="Miah e Vênus" class="max-w-sm shadow-sm rounded-3xl p-2 sm:p-0" />
    </div>
    <div>
      <p>
        I have the two laziest cats in the world Miah and Venus, I like to play video-games and play my guitar and uke in the free time.
      </p>
      <p>
        The intent of this blog is record my experience with tools, frameworks and also my personal studies.
      </p>
    </div>
  </div>
  {# <p>Here it is some things you can see here is:</p>
  <ul>
    <li>Backend and frontend tools and frameworks;</li>
    <li>Share some books I'd read;</li>
  </ul> #}
</section>
