---
title: Danilo Avilez | Blog
layout: default
---

<section>
  <h1 class="heading">Blog posts</h1>
  <p>
    All of these entries are posts in a collection
  </p>
  <div class="flex justify-around flex-wrap gap-x-2 gap-y-4 mt-2">
    {%- for item in collections.post | reverse -%}
      {% include 'components/post-teaser.njk' %}
    {%- endfor -%}
  </div>
</section>
