---
title: Danilo Avilez
layout: default
---
<div class="sm:px-8 mt-16 sm:mt-32">
  <div class="mx-auto max-w-7xl lg:px-8">
    <div class="relative px-4 sm:px-8 lg:px-12">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <div class="max-w-2xl">
          <h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
            Software designer, founder, and amateur astronaut.
          </h1>
          <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
            I’m Spencer, a software designer and entrepreneur based in New York City. I’m the founder and CEO of Planetaria, where we develop technologies that empower regular people to explore space on their own terms.
          </p>
          <div class="mt-6 flex gap-6">
            <a class="group -m-1 p-1" href="https://linkedin.com">
              {% fortawesomeBrand 'linkedin', 'w-4 h-4 opacity-50 hover:opacity-100' %}
            </a>
            <a class="group -m-1 p-1" href="https://github.com">
              {% fortawesomeBrand 'github', 'w-4 h-4 opacity-50 hover:opacity-100' %}
            </a>
            <a class="group -m-1 p-1" href="https://reddit.com">
              {% fortawesomeBrand 'reddit', 'w-4 h-4 opacity-50 hover:opacity-100' %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sm:px-8 mt-24 md:mt-16">
    <div class="mx-auto max-w-7xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">
            <div class="mx-auto max-w-2xl lg:max-w-5xl">
                <div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
                    <div class="flex flex-col gap-16">
                        {%- for item in collections.post.slice(0, 3) | reverse -%}
                            {% include 'components/most-recents-post.njk' %}
                        {%- endfor -%}
                    </div>
                    {% include 'components/work.njk' %}
                </div>
            </div>
        </div>
    </div>
</div>