---
title: Danilo Avilez | DEV
layout: default
---
<div class="flex flex-col items-center">
  <img src="{{ '/images/me.jpg' | url }}" alt="Danilo Avilez" class="h-40 w-40 rounded-full" />
  <span class="text-2xl pb-2">Learn more <a href="{{ '/about' | url }}">about me</a></span>
  <span class="text-2xl pb-2">Read my <a href="{{ '/blog' | url }}">blog</a></span>
</div>
<div class="p-4 bg-teal-500 text-white ">  
  <p class="text-right text-md leading-tight">
    <a href="https://www.linkedin.com/in/daniloavilez/" target="_noblank">Linkedin</a> |
    <a href="https://github.com/daniloavilez" target="_noblank">Github</a> |
    Danilo Avilez - 2022
  </p>
</div>
