---
title: Danilo Avilez | DEV
layout: default
---
<div class="flex flex-col items-center">
  <img src="{{ '/images/me.jpg' | url }}" alt="Danilo Avilez" class="h-40 w-40 rounded-full" />
  <span class="text-2xl pb-2">Learn more <a href="{{ '/about' | url }}">about me</a></span>
  <span class="text-2xl pb-2">Read my <a href="{{ '/blog' | url }}">blog</a></span>
</div>
<div class="flex flex-row gap-2 p-4 bg-teal-500 text-white ">  
    <a href="https://www.linkedin.com/in/daniloavilez/" class="naked-link" target="_noblank">{% fortawesomeBrand 'linkedin', 'w-4 h-4' %}</a> 
    <a href="https://github.com/daniloavilez" class="naked-link" target="_noblank">{% fortawesomeBrand 'github', 'w-4 h-4' %}</a> 
    <a href="https://www.reddit.com/user/dghun" class="naked-link" target="_noblank">{% fortawesomeBrand 'reddit', 'w-4 h-4' %}</a> 
    <div class="ml-auto">
      Danilo Avilez - 2022
    </div>
</div>
